.authorization__enter {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
  }

  .authorization__enter:hover {
    opacity: 0.6;
    cursor: pointer;
  }